<div class="row mt-2">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 mt-1" *ngFor="let pelicula of catalogo">
        <nz-card 
            (click)="movieDetail(pelicula)"
            nzHoverable
            style="width:400px" 
            [nzCover]="coverTemplate"
            [nzActions]="[actionSetting]">
            <nz-card-meta 
                [nzTitle]="pelicula.title" 
                [nzDescription]="pelicula.description.length > 51 ? (pelicula.description | slice : 0 : 51)+'...' : pelicula.description"></nz-card-meta>
        </nz-card>
        <ng-template #actionSetting>
            <i 
                nz-tooltip
                nzTooltipTitle="Reservar"
                (click)="reservar(pelicula.id)"
                nz-icon 
                nzType="calendar" 
                nzTheme="outline"></i>
        </ng-template>
        <ng-template #coverTemplate>
            <img [alt]="pelicula.title" [src]="pelicula.img" class="squared-img w-100" />
        </ng-template>
    </div>
</div>

<nz-modal 
    [(nzVisible)]="isVisible" 
    [nzTitle]="peliculaDetail?.title" 
    (nzOnCancel)="handleCancel()">
    <div *nzModalContent class="text-center">
        <img 
            class="img-movie-modal"
            [src]="peliculaDetail?.img" 
            [alt]="peliculaDetail?.title">
        <p class="mt-2 text-left"><strong>Descripción: </strong>{{ peliculaDetail?.description }}.</p>
        <p class="mt-2 text-left"><strong>Director: </strong>{{ peliculaDetail?.director }}.</p>
        <p *ngIf="peliculaDetail?.actors.length > 0" class="mt-2 text-left"><strong>Actores: </strong>{{ peliculaDetail?.actors[0] }}</p>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="primary" (click)="reservar(peliculaDetail?.id)">Revervar</button>
    </div>
</nz-modal>